---

layout: generic_collection_item
image_viewer: 'openseadragon'
pagination: true
meta:
  - label: 'Author'
    value: page.author 
  - label: 'Description'
    value: page.description
  - label: 'Label'
    value: page.label
  - label: 'Type'
    value: page.object_type
  - label: 'Location'
    value: page.location
  - label: 'Creation Date'
    value: page.date_created
  - label: 'Current Location'
    value: page.current_location
  - label: 'Date'
    value: page._date
  - label: 'Decade'
    value: page.decade
  - label: 'Enthnographic Note'
    value: page.ethnographic_note

---
